.version.mislukt /* version checker */
{
	color: #0000F3;
	background-color: #08D98A;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 685px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1065,#u1065-bw
{
	z-index: 37;
	height: 110px;
}

#pmenuu172
{
	width: 0.01px;
	padding-bottom: 106px;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: -24px;
}

#menuu172
{
	z-index: 38;
	width: 389px;
	position: fixed;
	top: 61px;
	left: 654px;
}

#u183
{
	width: 95px;
	padding-bottom: 17px;
	position: relative;
}

#u184-4
{
	width: 95px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u267
{
	width: 96px;
	padding-bottom: 17px;
	position: relative;
}

#u268-4
{
	width: 96px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u294
{
	width: 96px;
	padding-bottom: 17px;
	position: relative;
}

#u297-4
{
	width: 96px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u356
{
	width: 96px;
	padding-bottom: 17px;
	position: relative;
}

#u357-4
{
	width: 96px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u569
{
	z-index: 63;
	width: 168px;
	position: fixed;
	top: 2px;
	left: -24px;
}

#pu1053-3
{
	width: 0.01px;
	margin: -84px -10000px -119px -100px;
}

#u1053-3,#u1053-3-bw
{
	z-index: 2;
	min-height: 203px;
}

#u115
{
	z-index: 5;
	width: 167px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 495px;
}

#u115:hover
{
	width: 167px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#u115:active
{
	width: 167px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#u116-4
{
	z-index: 6;
	width: 108px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 30px;
}

#u117
{
	z-index: 10;
	width: 370px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 120px;
}

#u118
{
	z-index: 11;
	width: 370px;
	height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 662px;
}

#menuu119
{
	z-index: 12;
	width: 389px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 384px;
}

#u180,#u120
{
	width: 95px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u121
{
	width: 95px;
	padding-bottom: 17px;
	position: relative;
}

#u183.MuseMenuActive,#u121.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 95px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u183.MuseMenuActive #u184-4,#u121.MuseMenuActive #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u266,#u259
{
	width: 96px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 97px;
}

#u260
{
	width: 96px;
	padding-bottom: 17px;
	position: relative;
}

#u261-4
{
	width: 96px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u293,#u286
{
	width: 96px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 195px;
}

#u287
{
	width: 96px;
	padding-bottom: 17px;
	position: relative;
}

#u290-4
{
	width: 96px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u353,#u346
{
	width: 96px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 293px;
}

#u347
{
	width: 96px;
	padding-bottom: 17px;
	position: relative;
}

#u267.MuseMenuActive,#u294.MuseMenuActive,#u356.MuseMenuActive,#u260.MuseMenuActive,#u287.MuseMenuActive,#u347.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u350-4
{
	width: 96px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u267.MuseMenuActive #u268-4,#u294.MuseMenuActive #u297-4,#u356.MuseMenuActive #u357-4,#u260.MuseMenuActive #u261-4,#u287.MuseMenuActive #u290-4,#u347.MuseMenuActive #u350-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 119px;
}

.verticalspacer
{
	min-height: 575px;
}

